/* --- Variáveis de Cor (Nova Paleta) --- */
:root {
    --cor-principal: #8CDA58;
    /* Verde/Lima - Ação, Botões, Destaque */
    --cor-principal-hover: #72B847;
    --cor-secundaria: #1A1A1A;
    /* Preto - Fundo Principal, Texto */
    --cor-destaque: #7C3C90;
    /* Roxo - Destaque Secundário, Saúde Mental */
    --cor-destaque1: #d288dc;
    --cor-destaque-hover: #5C267D;
    --cor-fundo-claro: #F6F6F6;
    /* Fundo de Seções */
    --cor-fundo-dashboard: #FFFFFF;
    /* Fundo do Main Content */
    --cor-texto: #1A1A1A;
    --cor-cinza-claro: #E0E0E0;
    --cor-borda: #E0E0E0;

    /* Cores Específicas dos Módulos */
    --cor-habitos: var(--cor-principal);
    /* Verde/Lima */
    --cor-mental: var(--cor-destaque);
    /* Roxo */
    --cor-fisica: #5C267D;
    /* Roxo Escuro */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--cor-texto);
    background-color: var(--cor-fundo-claro);
}

/* --- Layout Principal (Flexbox) --- */
.dashboard-container {
    display: flex;
    min-height: 100vh;
}

/* --- Seção Principal (primeira seção) --- */
.container-home {
    height: 100vh;
}

.container-meio-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    background-color: #f5f5f5;
    height: 12cm;
}

.container-cards-home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}

.card-meio-home {
    background-color: #fff;
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* --- Seção de Dados (segunda seção) --- */
.container-dados-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    background-color: #fff;
    height: 8cm;
}

.dados-home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}

.card-dados-meio-home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-dados-meio-home h1 {
    color: #A6B41C;
    font-size: 40px;
}

.card-dados-meio-home p {
    color: #666666;
    font-size: 14px;
}

/* --- Seção de Fim (terceira seção) --- */
.container-fim-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    background-color: #DAADF5;
    height: 12cm;
}

.container-fim-home h1 {
    color: #fff;
}

.card-fim-home {
    background-color: #5d257d4c;
    width: 16rem;
    height: 10rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container-cards-fim-home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}