/* --- Variáveis de Cor (Nova Paleta) --- */
:root {
    --cor-principal: #8CDA58;
    /* Verde/Lima - Ação, Botões, Destaque */
    --cor-principal-hover: #72B847;
    --cor-secundaria: #1A1A1A;
    /* Preto - Fundo Principal, Texto */
    --cor-destaque: #7C3C90;
    /* Roxo - Destaque Secundário, Saúde Mental */
    --cor-destaque1: #d288dc;
    --cor-destaque-hover: #5C267D;
    --cor-fundo-claro: #F6F6F6;
    /* Fundo de Seções */
    --cor-fundo-dashboard: #FFFFFF;
    /* Fundo do Main Content */
    --cor-texto: #1A1A1A;
    --cor-cinza-claro: #E0E0E0;
    --cor-borda: #E0E0E0;

    /* Cores Específicas dos Módulos */
    --cor-habitos: var(--cor-principal);
    /* Verde/Lima */
    --cor-mental: var(--cor-destaque);
    /* Roxo */
    --cor-fisica: #5C267D;
    /* Roxo Escuro */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--cor-texto);
    background-color: var(--cor-fundo-claro);
}

/* --- Layout Principal (Flexbox) --- */
.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.container-home {
    height: 100vh;
}