.container-navbar {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    background-color: var(--cor4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    color: var(--cor5);
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.navbar img {
    width: 110px;
    height: 40px;
    cursor: pointer;
}

.btns-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btns-nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.btns-nav ul li a {
    text-decoration: none;
    color: var(--cor5);
    transition: color 0.3s ease;
}

.btns-nav ul li a:hover {
    color: var(--cor1);
}