.container-navbar {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    /* padding: 5px 15px; */
    background-color: #f5f5f5;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
    /* position: sticky; */
    /* top: 0; */
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.navbar img {
    width: 110px;
    height: 100%;
    cursor: pointer;
    position: relative;
    left: 5%;
}

.btns-nav {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    right: 4%;
}

.btns-nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.btns-nav ul li a {
    text-decoration: none;
    transition: color 0.3s ease;
}

a{
    color: black;
}

.btns-nav ul li a:hover {
    color: var(--cor-destaque-hover);
}

.btns-nav ul li:nth-child(5){
    background-color: var(--cor-principal);
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
}