body, html {
    margin: 0;
    padding: 0;
    background-color: var(--cor5);
    height: 100vh;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#root {
    --cor1: #8cDa58;
    --cor2: #7c3c90;
    --cor3: #5c267d;
    --cor4: #1a1a1a;
    --cor5: #f6f6f6;

    height: 100vh;
    overflow: hidden;

}

.login-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: var(--cor5);
}